* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #003E61;
  color: #FFF;
}

.primary-bg-color {
  background-color: #363535;
}

.secondary-bg-color {
  background-color: #f19c63;
}

.light-bg-color {
  background-color: #FCF5EB
}

.dark-bg-color {
  background-color: #101010;
}

.primary-color {
  color: #f19c63;
}

.secondary-color {
  color: #d3b387;
}

.light-color {
  color: #FCF5EB
}

.dark-color{
  color: black;
}

/* NAVBAR */
#navbar .navbar-nav {
  flex-direction: row;
  justify-content: flex-end;
}

#navbar .navbar-nav li {
  margin-left: 1em;
}

#navbar a,
#navbar button {
  color: #FFF;
}

#navbar li {
  position: relative;
}

#navbar i {
  font-size: 20px;
}

#navbar span {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #EF3636;
  text-align: center;
}

.navbar-brand {
  font-weight: 700;
  width: 100%;
  text-align: center;
}

@media(min-width: 768px) {
  .navbar-brand {
    text-align: left;
  }
}

#navbar-items {
  justify-content: space-between;
}

@media(min-width: 768px) {
  #navbar-items {
    display: flex;
    min-width: 80%;
  }
}

.nav-item-person {
  width: 135px;
  height: 45px;
  margin-top: 19px;
  margin-right: -1480px;
}

.btn {
  background-color: transparent;
  border-color: #FFFFFF;
}

.btn:hover {
  background-color: #003E61;
  border-color: #4890b9;
}

.btn-primary {
  width: 135px;
  height: 45px;
  margin-top: 10px;
}

.logo-image {
  width: 150px;
  height: 76px;
  border-radius: 50%;
  overflow: visible;
  margin-top: 0px;
  margin-left: -1000px;
  }

.title {
  font-weight: 300;
  font-size: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.title2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.5em;
  margin-bottom: 1em;
  text-align: left;
}

.title3 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.title4 {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5em;
  top: 70px;
  left: 130px;
  margin-bottom: 3em;
  text-align: left;
}

@media(min-width: 768px) {
  .title {
    text-align: center;
  }
}